/**
* Name: ADRA
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#e66c13;
$theme-alt-color: 					#2c918d;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/adra/header.jpg';
$theme-logo: 						'flavours/adra/logo.png';
$theme-logo-retina: 				'flavours/adra/logo@2x.png';	

@import "iasd-bootstrap";