/**
* Name: Associação Ministerial
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#13415b;
$theme-alt-color: 					#97632b;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/associacao-ministerial/header.jpg';
$theme-logo: 						'flavours/associacao-ministerial/logo.png';
$theme-logo-retina: 				'flavours/associacao-ministerial/logo@2x.png';	

@import "iasd-bootstrap";