/**
* Name: Associação Ministerial
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#e96c50;
$theme-alt-color: 					#2b5999;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/comunicacao/header.jpg';
$theme-logo: 						'flavours/comunicacao/logo.png';
$theme-logo-retina: 				'flavours/comunicacao/logo@2x.png';	

@import "iasd-bootstrap";