/**
* Name: Desbravadores
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#df3224;
$theme-alt-color: 					#145351;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/desbravadores/header.jpg';
$theme-logo: 						'flavours/desbravadores/logo.png';
$theme-logo-retina: 				'flavours/desbravadores/logo@2x.png';	

@import "iasd-bootstrap";