/**
* Name: Espírito de Profecia
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#30744c;
$theme-alt-color: 					#967e4e;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/espirito-profecia/header.jpg';
$theme-logo: 						'flavours/espirito-profecia/logo.png';
$theme-logo-retina: 				'flavours/espirito-profecia/logo@2x.png';	

@import "iasd-bootstrap";