/**
* Name: Ministério Pessoal
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#ae3f45;
$theme-alt-color: 					#573520;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/ministerio-pessoal/header.jpg';
$theme-logo: 						'flavours/ministerio-pessoal/logo.png';
$theme-logo-retina: 				'flavours/ministerio-pessoal/logo@2x.png';	

@import "iasd-bootstrap";