/**
* Name: Missão Global
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#529e8c;
$theme-alt-color: 					#172f5b;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/missao-global/header.jpg';
$theme-logo: 						'flavours/missao-global/logo.png';
$theme-logo-retina: 				'flavours/missao-global/logo@2x.png';	

@import "iasd-bootstrap";