/**
* Name: Mordomia Cristã
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#a0893b;
$theme-alt-color: 					#3b5635;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/mordomia/header.jpg';
$theme-logo: 						'flavours/mordomia/logo.png';
$theme-logo-retina: 				'flavours/mordomia/logo@2x.png';	

@import "iasd-bootstrap";