/**
* Name: Ministério da Música
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#7b3876;
$theme-alt-color: 					#38225f;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/musica/header.jpg';
$theme-logo: 						'flavours/musica/logo.png';
$theme-logo-retina: 				'flavours/musica/logo@2x.png';	

@import "iasd-bootstrap";