/**
* Name: Serviço Voluntário Adventista
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/

@import "iasd-variables";

// Theme Options
// -------------------------

$theme-main-color: 					#4490cb;
$theme-alt-color: 					#8379b7;
$theme-main-nav-base-color:			$theme-main-color;
$theme-footer-base-color:			$theme-main-color;
$theme-header-background-img:		'flavours/voluntarios/header.jpg';
$theme-logo: 						'flavours/voluntarios/logo.png';
$theme-logo-retina: 				'flavours/voluntarios/logo@2x.png';	

@import "iasd-bootstrap";